In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [2]:
total_players = purchase_data['SN'].nunique()
players = pd.DataFrame({"Total Players": total_players},index= [0])
players

   Total Players
0            576

# Purchasing Analysis (Total)

In [3]:
unique_items = purchase_data['Item Name'].nunique()
avg_price = purchase_data["Price"].mean()
avg_price = "${:.2f}".format(avg_price)
num_purchases = len(purchase_data['Purchase ID'])
revenue = purchase_data['Price'].sum()
revenue = "${:,.2f}".format(revenue)

In [4]:
items_summary = pd.DataFrame({"Numbrer of Unique Items": unique_items,
                             "Average Price": avg_price,
                             "Number of Purchases": num_purchases,
                             "Total Revenue": revenue}, index= ["Totals"])
items_summary

,Numbrer of Unique Items,Average Price,Number of Purchases,Total Revenue
Totals,179,$3.05,780,"$2,379.77"

# Gender Demographics

In [5]:
male_count = purchase_data[purchase_data["Gender"]=="Male"].nunique()
male_count = male_count['SN']
female_count = purchase_data[purchase_data["Gender"]=="Female"].nunique()
female_count = female_count['SN']
other_count =purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"].nunique()
other_count = other_count['SN']
male_per = (male_count/total_players)
female_per = female_count/total_players
other_per = other_count/total_players
total_purchase = purchase_data.groupby("Gender")['Price'].sum()
male_count

484

In [6]:
G_demo = pd.DataFrame({"Total Count": [male_count, female_count, other_count,], 
                       "Percentage": [male_per, female_per, other_per]},index=["Male", "Female", "Other"])
G_demo['Percentage']=G_demo["Percentage"].astype(float).map("{:,.2%}".format)
G_demo

        Total Count Percentage
Male            484     84.03%
Female           81     14.06%
Other            11      1.91%

# Purchasing Analysis (Gender)

In [7]:
gender_count=purchase_data.groupby('Gender').SN.nunique()

In [8]:
total_count = purchase_data['Gender'].value_counts()
avg_purchase =purchase_data.groupby('Gender')['Price'].mean()
total_purchase = purchase_data.groupby("Gender")['Price'].sum()
avg_person = total_purchase/gender_count

In [9]:
purch_gender = pd.DataFrame({"Purchase Count": total_count,
                            "Average Purchase": avg_purchase,
                            "Total Purchase Price": total_purchase,
                            "Average Total Per Person":avg_person}, index = ['Male', 'Female', 'Other / Non-Disclosed'])
purch_gender['Average Purchase']=purch_gender['Average Purchase'].map("${:.2f}".format)
purch_gender["Total Purchase Price"]=purch_gender["Total Purchase Price"].map("${:.2f}".format)
purch_gender["Average Total Per Person"]=purch_gender[ "Average Total Per Person"].map("${:.2f}".format)
purch_gender

,Purchase Count,Average Purchase,Total Purchase Price,Average Total Per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [10]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
bins=[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,99]
purch_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [12]:
pd.cut(purchase_data['Age'],bins, labels= purch_label, include_lowest= True)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [13]:
purchase_bin = purchase_data.drop_duplicates(subset="SN", keep="first")
purchase_bin['Percentage of Players']= pd.cut(purchase_data['Age'],bins, labels= purch_label, include_lowest= True)

<ipython-input-13-e3423c8fdd52>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_bin['Percentage of Players']= pd.cut(purchase_data['Age'],bins, labels= purch_label, include_lowest= True)

In [14]:
ageGroup = purchase_bin['Percentage of Players'].value_counts()
bin_group = purchase_bin.groupby('Percentage of Players')
total_players = len(purchase_bin["SN"].value_counts())
age_count = bin_group['SN'].nunique()
age_per = (age_count/total_players)
age_per = age_per.astype(float).map("{:.2%}".format)

# Age Demographics

In [15]:
age_demo = pd.DataFrame({"Total Count": ageGroup,
                        "Percentage of Players": age_per},index=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"])
age_demo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [16]:
count = len(purchase_bin['SN'].value_counts())
pur_count = bin_group['Item Name'].count()

In [17]:
purchase_age = purchase_data

In [18]:
purchase_age['age_range']=pd.cut(purchase_data['Age'],bins, labels= purch_label, include_lowest= True)

In [19]:
age_count=purchase_data.groupby("age_range").SN.nunique()
age_group = purchase_age.groupby('age_range')
pur_count = age_group['Purchase ID'].count()
avg_price =purchase_age.groupby('age_range')['Price'].mean()
to_purchase =purchase_age.groupby("age_range")['Price'].sum()
to_purchase
avg_person = to_purchase/age_count


# Purchasing Analysis (Age)

In [20]:
age_analysis = pd.DataFrame({"Purchase Count": pur_count,
                        "Average Purchase Price": avg_price,
                            "Total Purchase Value": to_purchase,
                            "Avg Total Purchase per Person": avg_person},index=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"])
age_analysis["Average Purchase Price"]= age_analysis["Average Purchase Price"].map("${:,.2f}".format)
age_analysis["Total Purchase Value"]= age_analysis["Total Purchase Value"].map("${:,.2f}".format)
age_analysis["Avg Total Purchase per Person"]= age_analysis["Avg Total Purchase per Person"].map("${:,.2f}".format)
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# TOP SPENDER

In [21]:
spend =purchase_age.groupby("SN")
player_count = spend['Purchase ID'].count().sort_values(ascending=False)
player_avg = spend["Price"].mean().sort_values(ascending=False)
player_sum =spend["Price"].sum().sort_values(ascending =False)
top_spend = pd.DataFrame({"Purchase Count": player_count,
                         "Average Purchase Price": player_avg,
                         "Total Purchase Value": player_sum})
top_spend =top_spend.sort_values("Total Purchase Value", ascending=False).head()
top_spend['Average Purchase Price']=top_spend['Average Purchase Price'].map("${:,.2f}".format)
top_spend['Total Purchase Value']=top_spend['Total Purchase Value'].map("${:,.2f}".format)
top_spend

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

In [22]:
popular = purchase_data[["Item ID", "Item Name", "Price"]]

In [23]:
popular_gp = popular.groupby(['Item ID', "Item Name"])

In [24]:
popular_count = popular_gp['Price'].count()
popular_tvalue = popular_gp['Price'].sum()
popular_cost = popular_tvalue/popular_count 
popular_items = pd.DataFrame({"Purchase Count": popular_count,
                              "Item Price": popular_cost,
                             "Total Purchase Value": popular_tvalue})
popular_items1 =popular_items.sort_values("Purchase Count", ascending=False).head()
popular_items1["Item Price"]=popular_items["Item Price"].map("${:,.2f}".format)
popular_items1["Total Purchase Value"]=popular_items["Total Purchase Value"].map("${:,.2f}".format)
popular_items1

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

# Most Profitable Item

In [25]:
popular_items =popular_items.sort_values("Total Purchase Value", ascending=False).head()
popular_items["Item Price"]=popular_items["Item Price"].map("${:,.2f}".format)
popular_items["Total Purchase Value"]=popular_items["Total Purchase Value"].map("${:,.2f}".format)
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80