In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [2]:
total_players = purchase_data['SN'].nunique()
players = pd.DataFrame({"Total Players": total_players},index= [0])
players

   Total Players
0            576

# Purchasing Analysis (Total)

In [3]:
unique_items = purchase_data['Item Name'].nunique()
avg_price = purchase_data["Price"].mean()
avg_price = "${:.2f}".format(avg_price)
num_purchases = len(purchase_data['Purchase ID'])
revenue = purchase_data['Price'].sum()
revenue = "${:,.2f}".format(revenue)

In [4]:
items_summary = pd.DataFrame({"Numbrer of Unique Items": unique_items,
                             "Average Price": avg_price,
                             "Number of Purchases": num_purchases,
                             "Total Revenue": revenue}, index= ["Totals"])
items_summary

,Numbrer of Unique Items,Average Price,Number of Purchases,Total Revenue
Totals,179,$3.05,780,"$2,379.77"

# Gender Demographics

In [5]:
male_count = purchase_data[purchase_data["Gender"]=="Male"].nunique()
male_count = male_count['SN']
female_count = purchase_data[purchase_data["Gender"]=="Female"].nunique()
female_count = female_count['SN']
other_count =purchase_data[purchase_data["Gender"]=="Other / Non-Disclosed"].nunique()
other_count = other_count['SN']
male_per = male_count/total_players
female_per = female_count/total_players
other_per = other_count/total_players
total_purchase = purchase_data.groupby("Gender")['Price'].sum()
male_count

484

In [6]:
G_demo = pd.DataFrame({"Total Count": [male_count, female_count, other_count,], 
                       "Percentage": [male_per, female_per, other_per]},index=["Male", "Female", "Other"])
G_demo

        Total Count  Percentage
Male            484    0.840278
Female           81    0.140625
Other            11    0.019097

# Purchasing Analysis (Gender)

In [7]:
gender_count=purchase_data.groupby('Gender').SN.nunique()

In [8]:
total_count = purchase_data['Gender'].value_counts()
avg_purchase =purchase_data.groupby('Gender')['Price'].mean()
total_purchase = purchase_data.groupby("Gender")['Price'].sum()
avg_person = total_purchase/gender_count

In [9]:
purch_gender = pd.DataFrame({"Purchase Count": total_count,
                            "Average Purchase": avg_purchase,
                            "Total Purchase Price": total_purchase,
                            "Average Total Per Person":avg_person}, index = ['Male', 'Female', 'Other / Non-Disclosed'])
purch_gender

,Purchase Count,Average Purchase,Total Purchase Price,Average Total Per Person
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [10]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
bins=[0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,99]
purch_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [19]:
pd.cut(purchase_data['Age'],bins, labels= purch_label, include_lowest= True)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [20]:
purchase_bin = purchase_data.drop_duplicates(subset="SN", keep="first")
purchase_bin['Percentage of Players']= pd.cut(purchase_data['Age'],bins, labels= purch_label, include_lowest= True)
purchase_bin

<ipython-input-20-9a56bb83d054>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  purchase_bin['Percentage of Players']= pd.cut(purchase_data['Age'],bins, labels= purch_label, include_lowest= True)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Percentage of Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [21]:
ageGroup = purchase_bin['Percentage of Players'].value_counts()
bin_group = purchase_bin.groupby('Percentage of Players')
total_players = len(purchase_bin["SN"].value_counts())
age_count = bin_group['SN'].nunique()
age_per = (age_count/total_players)
age_per = age_per.astype(float).map("{:.2%}".format)

In [22]:
age_demo = pd.DataFrame({"Total Count": ageGroup,
                        "Percentage of Players": age_per},index=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"])
age_demo

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [33]:
age_pur_count =bin_group["Purchase ID"].value_counts()
age_pur_count

Percentage of Players  Purchase ID
<10                    27             1
                       33             1
                       37             1
                       81             1
                       187            1
                                     ..
40+                    557            1
                       667            1
                       674            1
                       728            1
                       761            1
Name: Purchase ID, Length: 576, dtype: int64